FROM_EMAIL=
INVITE_FROM_EMAIL=
JWT_EXPIRY=
JWT_SECRET=secretkey
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=test
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=us-east-1
AWS_REGION=us-east-1
REDIS_URL=redis://127.0.0.1
REDIS_PORT=6379
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=
PORT=3001
DATABASE_PORT=5432
POSTGRES_PASSWORD=password